body {
    margin: 0px;
}
main > * {
    background-color: rgb(43, 43, 43);
}
main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100vh;
    background-color: rgb(242, 104, 5);
    gap: 5px;
}

header {
    grid-column: 1 / span 3; 
    grid-row: 1; 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

    .topNavigation {
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profileNavigation {
        grid-column: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* Pfp Button */
        .profileButton {
            background: none;
            border: 2px solid rgb(242, 104, 5);
            padding: 0;
            cursor: pointer;
            
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s, border-color 0.2s;
        }
        .profileButton img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .profileButton:hover {
            border-color: rgb(241, 68, 16);
            transform: scale(1.05);
        }

footer {
    grid-column: 1 / span 3; 
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.volumeSlideContainer {
    grid-column: 3;
    justify-self: center; 
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 160px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: #efeeee ;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    background: transition 0.2s ease;
}

/* Green fill effect on hover/drag */
.slider:hover {
    background: linear-gradient(
        to right,
        #1db954 0%,
        #efeeee var(--value, 50%),
        #535353 100%
    );
}

/* ===== WEBKIT THUMB ===== */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    opacity: 0;
    transition: opacity .15s ease, transform .15s ease;
}

.slider:hover::-webkit-slider-thumb {
    opacity: 1;
}

.slider::-webkit-slider-thumb:active {
    transform: scale(1.2);
}

/* ===== FIREFOX ===== */
.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    border: none;
    opacity: 0;
    transition: opacity .15s ease, transform .15s ease;
}

.slider:hover::-moz-range-thumb {
    opacity: 1;
}

.slider::-moz-range-thumb:active {
    transform: scale(1.2);
}

#volumeShow {
    color: white;
    font-size: 14px;
    min-width: 30px;
}