body {
    margin: 0px;
}
main > * {
    background-color: rgb(43, 43, 43);
}
main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100vh;
    background-color: rgb(242, 104, 5);
    gap: 5px;
}

header {
    grid-column: 1 / span 3; 
    grid-row: 1; 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

    .topNavigation {
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profileNavigation {
        grid-column: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* Pfp Button */
        .profileButton {
            background: none;
            border: 2px solid rgb(242, 104, 5);
            padding: 0;
            cursor: pointer;
            
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s, border-color 0.2s;
        }
        .profileButton img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .profileButton:hover {
            border-color: rgb(241, 68, 16);
            transform: scale(1.05);
        }

footer {
    grid-column: 1 / span 3; 
    grid-row: 3; 
}